* {
  padding: 0;
  margin: 0;
  line-height: 1.65;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}
/* ************************************************************************* */
/* ******************************ROBE GENERALI****************************** */
/* ************************************************************************* */

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

main {
  height: calc(100vh - 80px);  /* 80 è barrafixed*/
  background-color: #e3f2fd;
  margin-top: 80px;
}

.nascondi{
  display: none;
}

/* ************************************************************************* */
/* ******************************NAVBAR FISSA TOP****************************** */
/* ************************************************************************* */

.navbarTop{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(226, 241, 252, 0.5);
}

.navbarTop img{
  height: 24px;
}

.navbarTop a{
  text-decoration: none;
  color: rgba(25, 28, 31, 0.5);
  margin-right: 20px;
}

.navbarTop a:hover {
  color: #191c1f;
}

/* il posizion relative serve da ancora agli elementi absolute */
.navbarTop .menuLargo>ul>li {
  display: inline-block;
  color: rgba(25, 28, 31, 0.5);
  margin-right: 20px;
  position: relative;
}

.navbarTop>ul>li:hover {
  color: #191c1f;
}

/* è inline block perché così il bottone si posiziona accanto, il bottone non è nella lista altrimenti
con il JS si viene a creare un bug che lo fa scomparire */
.navbarTop ul {
  display: inline-block;
}

.navbarTop button {
  display: inline-block;
  padding: 1rem 4.125rem;
  border: none;
  border-radius: 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: #eb008d;
  padding: 0.625rem 1.5rem;
}
.navbarTop button:hover {
  background-color: #d2007e;
}

/* nascondo le 3 lineette del menu hamburger a grandi risoluzioni */
.menuLargo .fa-bars{
  display: none;
}

/* Questa classe gestisce i sottomenu che sono nascosti finché non si fa mouseenter da js */
.sottomenuNascosto {
  position: absolute;
  background-color: white;
}

.sottomenuNascosto ul li{
  margin: 10px;
}

.sottomenuNascosto ul li a{
  margin-right: 0px;
}

/* GESTIONE MENU A TUTTA PAGINA A SCOMPARSA A RISOLUZIONI BASSE */
.navbarTop .hamburgerMenu{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.hamburgerMenu .fa-times{
  float: right;
  margin-top: 8px;
  font-size: 25px;
}


 .navbarTop .hamburgerMenu.mostra{
  display: block;
}

/* ************************************************************************* */
/* ****************************** MEDIA QUERY ****************************** */
/* ************************************************************************* */
@media all and (max-width: 1200px){

  .coppiaNextLogo{
    display: none;
  }
  .navbarTop .menuLargo ul{
    display: none;
  }
  .navbarTop .menuLargo button{
    display: none;
  }
  .navbarTop .hamburgerMenu{
    color: rgba(25, 28, 31, 0.5);
    background-color: white;
  }
  .menuLargo .fa-bars{
    display: block;
  }
}
@media all and (min-width: 1201px){
 .navbarTop .hamburgerMenu.mostra{
   display: none;
 }
}
